#board {
    padding-top: 3rem;
    text-align: center;
    font-family: monospace;
}

.row {
    clear: both;
    width: 300px;
    margin: 0 auto;
}

.row > div {
    float: left;
    height: 100px;
    width: 33%;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
}

.good {
    border-bottom: 1px dotted black;
}

.evil {
    border-top: 1px dotted black;
}

.lawful {
    border-right: 1px dotted black;
}

.chaotic {
    border-left: 1px dotted black;
}

#hitmarkerButton {
    color: white;
	-webkit-text-stroke: 2px black;
    font-size: 2.5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 20px;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}